---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/Navbar.astro";
import Hero from "@components/Hero.astro";
import Bio from "@components/Bio.astro";
import Services from "@components/Services.astro";
import Videos from "@components/Videos.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <Navbar />
    <main class="pt-16">
      <Hero />
      <Videos />
      <Services />
      <Bio />
    </main>
  </main>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }

  main {
    color: white;
  }
</style>
