---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/Navbar.tsx";
import Hero from "@components/Hero.astro";
import Bio from "@components/Bio.astro";
import Services from "@components/Services.astro";
import Videos from "@components/Videos.astro";
import Footer from "@components/Footer.astro";
import Contact from "@components/Contact.astro";
import Equipments from "@components/Equipments.astro";
---

<Layout title="DJ PABLITO DYR">
  <main class="">
    <Navbar client:load />
    <main class="pt-16">
      <Hero />
      <Videos />
      <Services />
      <Equipments />
      <Bio />
    </main>
    <Contact />
    <Footer />
  </main>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }

  main {
    color: white;
  }
</style>
