---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/Navbar.tsx";
import Hero from "@components/Hero.astro";
import Bio from "@components/Bio.astro";
import Services from "@components/Services.astro";
import Videos from "@components/Videos.astro";
import Footer from "@components/Footer.astro";
import Contact from "@components/Contact.tsx"
import Equipments from "@components/Equipments.astro";
---

<Layout 
  title="DJ Pablito Dyr" 
  description="Servicios profesionales de DJ en Santiago de Chile. Contamos con DJ, animación, karaoke, iluminación profesional y equipos de sonido para matrimonios, cumpleaños, graduaciones y eventos corporativos. Más de 4 años de experiencia en Maipú y toda la Región Metropolitana."
>
    <Navbar client:load />
    <main class="pt-16">
      <Hero />
      <Videos />
      <Services />
      <Equipments />
      <Bio />
    </main>
    <Contact client:load />
    <Footer />
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }

  main {
    color: white;
  }
</style>
