---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/Navbar.tsx";
import Hero from "@components/Hero.astro";
import Bio from "@components/Bio.astro";
import Services from "@components/Services.astro";
import Videos from "@components/Videos.astro";
import Footer from "@components/Footer.astro";
import Contact from "@components/Contact.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <Navbar client:load/>
    <main class="pt-16">
      <Hero />
      <Videos />
      <Services />
      <Bio/>
      <Contact/>
    </main>
    <Footer></Footer>
  </main>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }

  main {
    color: white;
  }
</style>
