---
import pablo2 from "@assets/pablo2.jpeg";
import { Image } from "astro:assets";
---

<section>
  <h1 class="text-center font-customFont text-3xl bg-zinc-800 py-10">BIO</h1>
  <div class="flex flex-col md:flex-row gap-10 bg-gray-800/50 pt-10 place-content-center">
    <Image
      class="object-contain w-[60%] md:w-[30%] rounded-2xl place-self-center"
      src={pablo2}
      alt="dj logo"
    />
    <div class="w-1/2 px-10">
      <header class="font-bold">Dj Pablito Dyr</header>
      <p class="mt-5 font-thin">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        tristique consectetur arcu in tincidunt. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas.
        Aliquam ut purus egestas, sollicitudin nisl a, hendrerit lorem.
        Phasellus at finibus justo, vitae tristique dolor. In eget efficitur
        metus. Sed ipsum diam, ultricies sit amet nibh sit amet, suscipit
        elementum quam. Curabitur dictum sapien in sodales sagittis.
      </p>

      <p class="mt-5 font-thin">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        tristique consectetur arcu in tincidunt. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas.
        Aliquam ut purus egestas, sollicitudin nisl a, hendrerit lorem.
        Phasellus at finibus justo, vitae tristique dolor. In eget efficitur
        metus. Sed ipsum diam, ultricies sit amet nibh sit amet, suscipit
        elementum quam. Curabitur dictum sapien in sodales sagittis.
      </p>
      <button
        class="mt-5 hover:bg-white/30 rounded-lg w-full p-2 outline outline-1 outline-yellow-500 font-customFont"
        >Nuestros servicios</button
      >
    </div>
  </div>
</section>
