---
import { FaInstagram } from "react-icons/fa";
import { FiYoutube } from "react-icons/fi";
import { SiDiscogs } from "react-icons/si";
---

<header class="fixed top-0 left-0 right-0 bg-zinc-900 py-3 lg:p-2 z-10">
  <div
    class="flex flex-row place-content-between mx-1 lg:mx-20 lg:text-lg items-center font-customFont"
  >
    <div class="flex">
      <SiDiscogs className="text-4xl lg:text-6xl text-white" />
      <div class="ml-3 lg:ml-5" style="border-left:2px solid rgb(202 138 4 / 1)"></div>
    </div>

    {/*<Image class="w-32 aspect-[836/759]" src={logo} alt="dj logo" />*/}
    <nav class="ml-3 lg:ml-5">
      <ul class="flex items-center lg:gap-5">
        <li>
          <a
            class="flex items-center lg:gap-2 p-2 rounded-lg hover:bg-white/5"
            href=""
          >
            <FaInstagram className="text-2xl text-yellow-500" />
            <span class="hidden lg:block text-gray-400">IG</span></a
          >
        </li>
        <span class="hidden lg:block">•</span>
        <li>
          <a
            class="flex items-center lg:gap-2 p-2 rounded-lg hover:bg-white/5"
            href="/"
          >
            <FiYoutube className="text-2xl text-yellow-500" />
            <span class="hidden lg:block text-gray-400">Youtube</span></a
          >
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="flex items-center px-1 lg:ml-0 lg:gap-5">
        <li>
          <a
            class="flex gap-2 px-1 lg:p-2 rounded-lg hover:bg-white/5"
            href="#services"
          >
            Servicios</a
          >
        </li>
        <li>
          <a class="flex gap-2 px-1 lg:p-2 rounded-lg hover:bg-white/5" href="#bio">
            BIO</a
          >
        </li>
        <li>
          <a class="flex gap-2 lg:p-2 px-1 rounded-lg hover:bg-white/5" href="">
            Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
