---
import Service from "./Service.tsx"

interface ServiceInterface {
  title: string;
  price: string;
  description: string;
  features: string[];
  featured: boolean;
  wspMessage: string
}

const services: ServiceInterface[] = [
  {
    title: "Básico",
    price: "$300",
    description: "Ideal para eventos pequeños y reuniones íntimas.",
    features: [
      "Duración: 3 horas",
      "Sistema de sonido estándar",
      "Selección musical básica",
      "1 sesión de planificación previa",
    ],
    featured: false,
    wspMessage: 'Hola, estoy interesado en contratar el plan básico, ¿Me podrías dar más información? '
  },
  {
    title: "Intermedio",
    price: "$500",
    description:
      "Perfecto para celebraciones medianas como cumpleaños y eventos corporativos.",
    features: [
      "Duración: 5 horas",
      "Sistema de sonido de alta calidad",
      "Selección musical personalizada",
      "2 sesiones de planificación previa",
    ],
    featured: false,
    wspMessage: 'Hola, estoy interesado en contratar el plan intermedio, ¿Me podrías dar más información? '


  },
  {
    title: "Avanzado",
    price: "$800",
    description: "Para eventos grandes como bodas y aniversarios.",
    features: [
      "Duración: 7 horas",
      "Sistema de sonido premium",
      "Selección musical personalizada y listas de reproducción a medida",
      "3 sesiones de planificación previa",
    ],
    featured: true,
    wspMessage: 'Hola, estoy interesado en contratar el plan avanzado, ¿Me podrías dar más información? '
  },
  {
    title: "Personalizado",
    price: "$$$$",
    description:
      "La mejor opción para eventos de gran escala y alta exigencia.",
    features: [
      "Duración: 10 horas",
      "Sistema de sonido profesional y equipo de iluminación",
      "Selección musical personalizada con opciones de DJ en vivo",
      "5 sesiones de planificación previa y soporte completo el día del evento",
    ],
    featured: false,
    wspMessage: 'Hola, estoy interesado en tener un plan personalizado , ¿Me podrías dar más información?'
  },
];
---

<section id="services">
  <h1 class="text-center font-customFont text-3xl bg-zinc-800 py-10">
    SERVICIOS
  </h1>
  <div
    class="flex flex-col md:grid md:grid-cols-2 lg:flex lg:flex-row gap-6 place-content-between m-10"
  >
    {services.map((service: ServiceInterface) => <Service client:load {service} />)}
  </div>
</section>
