---
import Service from "./Service";

interface ServiceInterface {
  title: string;
  price: string;
  description: string;
  features: string[];
  featured: boolean;
  wspMessage: string;
}

const services: ServiceInterface[] = [
  {
    title: "Economic",
    price: "$130.000",
    description:
      "Nuestro plan más accesible, pero sin perder la calidad.",
    features: [
      "4 horas de la mejor música",
      "Atriles x2",
      "Iluminación Spider LED RGB x2",
      "Amplificación",
    ],
    featured: false,
    wspMessage:
      "Hola, estoy interesado en contratar el plan Economic, ¿Me podrías dar más información? ",
  },
  {
    title: "Basic",
    price: "$160.000",
    description:
      "Ideal para eventos pequeños y reuniones íntimas con amigos o familiares.",
    features: [
      "5 horas de la mejor música",
      "Arco de Iluminación",
      "Iluminación LED RGB",
      "Cabeza móvil Led Beam 360°",
      "Amplificación",
    ],
    featured: false,
    wspMessage:
      "Hola, estoy interesado en contratar el plan Basic, ¿Me podrías dar más información? ",
  },
  {
    title: "Premium",
    price: "$200.000",
    description:
      "Perfecto para celebraciones medianas como cumpleaños y fiestas.",
    features: [
      "6 horas de la mejor música",
      "Arco de Iluminación",
      "Iluminación LED RGB",
      "Cabeza móvil Led Beam 360°",
      "Amplificación",
      "Animación",
      "2 Micrófonos Inalámbricos",
    ],
    featured: false,
    wspMessage:
      "Hola, estoy interesado en contratar el plan Premium, ¿Me podrías dar más información? ",
  },
  {
    title: "Gold",
    price: "$250.000",
    description:
      "Un pack hecho a la medida para aquellos que quieren la mezcla de música y videos en un mismo lugar.",
    features: [
      "7 horas de la mejor música",
      "Arco de Iluminación",
      "Iluminación LED RGB",
      "Cabeza móvil Led Beam 360°",
      "Amplificación",
      "Animación",
      "2 Micrófonos Inalámbricos",
      "Pantalla 42",
      "Vídeos musicales",
    ],
    featured: true,
    wspMessage:
      "Hola, estoy interesado en contratar el plan Gold, ¿Me podrías dar más información? ",
  },
  {
    title: "Deluxe",
    price: "300.000",
    description:
      "La mejor opción para eventos de gran escala y alta exigencia.",
    features: [
      "8 horas de la mejor música",
      "Arco de Iluminación",
      "Iluminación LED RGB",
      "Cabeza móvil Led Beam 360°",
      "Amplificación",
      "Animación",
      "2 Micrófonos Inalámbricos",
      "Pantalla 42",
      "Vídeos musicales",
      "Karaoke",
    ],
    featured: false,
    wspMessage:
      "Hola, estoy interesado en contratar el plan Deluxe, ¿Me podrías dar más información? ",
  },
];
---

<section id="services">
  <h1 class="text-center font-customFont text-3xl bg-zinc-800 py-10">
    SERVICIOS
  </h1>
  <div
    class="flex flex-col md:grid md:grid-cols-2 lg:flex lg:flex-row gap-3 place-content-between mx-3 mt-5"
  >
    {
      services.map((service: ServiceInterface) => (
        <Service client:load {service} />
      ))
    }
  </div>
  <div
    class="text-white/90 flex flex-col mx-auto mt-5 w-3/4 md:w-1/2 text-center rounded-2xl p-8 outline outline-2 outline-yellow-500/80"
  >
    <p>
      Costo de tralado de equipos
      <span class="font-bold text-yellow-500">gratis dentro de Santiago.</span> Zonas rurales dentro de la RM $20.000. *
    </p>
  </div>
  <p class="text-center text-sm my-4 text-white/80">
    * Los precios de los planes podrían variar en el tiempo
  </p>
</section>
