---
import YoutubeVideo from "./YoutubeVideo.astro";

export interface YoutubeVideo {
  title: string;
  videoCode: string;
}

let videos: YoutubeVideo[] = [
  {
    title: "Mix 90's",
    videoCode: "ZlJ-w6fMHCI",
  },
  {
    title: "Mix Ke Personajes",
    videoCode: "qkDF_kRy05M",
  },
  {
    title: "Mix Dembow",
    videoCode: "gl2LmO2YcQo",
  },
  {
    title: "Mix Bachata",
    videoCode: "PkiSpb-QDt0",
  },
  {
    title: "Mix Rancheras",
    videoCode: "1jiZknX8nzw",
  },
];
---

<section>
  <h1 class="text-center font-customFont text-3xl bg-zinc-800 py-10">
    MIXING IN THE HOUSE
  </h1>
  <article class="grid grid-cols-2 md:flex md:flex-row gap-3 px-10 py-10">
    {
      videos.map(({ title, videoCode }: YoutubeVideo) => {
        return <YoutubeVideo {title} {videoCode} />;
      })
    }
  </article>
</section>
