---
import YoutubeVideo from "./YoutubeVideo.astro";

export interface YoutubeVideo {
  title: string;
  videoCode: string;
}

let videos: YoutubeVideo[] = [
  {
    title: "Mix 90's",
    videoCode: "ZlJ-w6fMHCI",
  },
  {
    title: "Mix Ke Personajes",
    videoCode: "qkDF_kRy05M",
  },
  {
    title: "Mix Dembow",
    videoCode: "gl2LmO2YcQo",
  },
  {
    title: "Mix Bachata",
    videoCode: "PkiSpb-QDt0",
  },
  {
    title: "Mix Rancheras",
    videoCode: "1jiZknX8nzw",
  },
  {
    title: "Mix Hip Hop",
    videoCode: "428MOaKB2qY"
  }
];
---

<section id="mixing" aria-labelledby="mixing-title">
  <h2 id="mixing-title" class="text-center font-customFont text-3xl bg-zinc-800 py-10">
    VISITANOS EN YOUTUBE Y CONOCE NUESTROS MIXES
  </h2>
  <article class="grid grid-cols-2 lg:grid lg:grid-cols-3 gap-4 px-5 lg:px-40 lg:gap-10 py-10 bg-slate-900">
    {
      videos.map(({ title, videoCode }: YoutubeVideo) => {
        return <YoutubeVideo {title} {videoCode} />;
      })
    }
  </article>
</section>
