---
import { SEO } from "astro-seo";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title=`${title}`
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: "/logo.jpeg"
        },
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.wep" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "/logo.jpeg",
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
        ],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="image" href="../assets/logo.webp">


  </head>
  <body class="bg-zinc-900">
    <slot />
    <style is:global>
      body {
      }
    </style>
  </body>
</html>
